{if $member->admin == '1' || $member->admin == '3'}
<b>
		<a href="/store/configure">[ Configure Store ]</a>&nbsp;&nbsp;
	</b>
<br><br>
Your site visitors will only see the below
{/if}
<br><br>
<center>
	<h1>Store Closed</h1><br><br>
	<h4>The store is currently closed.  Please check back later.</h4>
</center>
